{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}Фізика</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        :root {
            --second:#739ECC;
            --bg: #C1D7C3;
            --prg: #C4D9EE;
            --text: #393B3C;
            --accent:#D7F9D3; 
        }
        [data-bs-theme="dark"] {
            --text: #C3C5C6;
            --second: #7FEE9B;  
            --prg: #11263A;
            --bg: #283E2A;
            --accent: #0A2D06;
        }
        html, body {
            background-color: var(--bg);
        }
        nav {
            color: var(--text);
            background-color: var(--accent);
        }
        nav a {
            text-decoration: none;
            color: var(--text);
        }
        .form-switch {
            position: absolute;
            top: 10px;
            right: 10px;
        }
        p {
            margin-top: 15px; 
            margin-left: 40px; 
            font-size: 23px;
            color: var(--text);
        }
        h4 {
            margin-top: 15px; 
            margin-left: 40px; 
            font-size: 27px;
            color: var(--text);
        }
        h1  {
            font-size: 30px;
            color: var(--text);
        }
        h3  {
            margin-left: 20px;
            font-size: 35px;
            color: var(--text);
        }
        footer {
            width:100%; 
            height:auto;
            background-color: var(--accent);
            margin: 0 auto;
            text-align: center;
            padding-top: 25px;
            font-family: 'Tilt Neon';
        }   
        footer a {
            color:none;
            font-size: 22px;
            margin-left: 10px;
            font-family: 'Tilt Neon';
            color: var(--text);
        }
        footer nav a:hover {
            border-bottom: 1px solid white;
        }
        a {
            font-family: 'Tilt Neon';
            color: var(--text);
        }
        h2 {
            margin-top: 30px;
            margin-left: 50px;
            font-size: 20px;
            padding-bottom: 20px; 
            color: var(--text);
        }
        #navbar {
            position: fixed;
            top: 0; 
            width: 100%;
        }
        #navbar ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        .navbar-nav .nav-link {
            margin-right: 20px; 
        }
    </style>
    {% load embed_video_tags %}
</head>
<body>
    <nav class="navbar navbar-expand-lg" id="navbar">
        <div class="container-fluid"> 
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav d-flex justify-content-center align-items-center" style="width: 100%;"> 
                    <li class='nav-item text-center'>
                        <a href="{% url 'main:index' %}" class="nav-link" style="margin-right: 10px;"><i class="fa-solid fa-house"></i></a>
                    </li>
                    <li class='nav-item text-center'>
                        <a href="#section1" class="nav-link">Фізика (7 клас)</a>
                    </li>
                    <li class='nav-item text-center'>
                        <a href="#section2" class="nav-link">Фізика (8 клас)</a>
                    </li>
                    <li class='nav-item text-center'>
                        <a href="#section3" class="nav-link">Фізика (9 клас)</a>
                    </li>
                    <li class='nav-item text-center'>
                        <a href="#section4" class="nav-link">Фізика (10-11 класи)</a>
                    </li>
                </ul>
            </div>
            <div class="text-center">    
                <div class="form-check form-switch mt-3">
                    <input class="form-check-input" type="checkbox" id="themeSwitch">
                </div>
            </div>
        </div>
    </nav>



<div class="rounded-3 ">
    <div class='container' style='border-radius: 15px;  max-width: 1500px; background-color: var(--prg); margin-top:70px;' >
        <div class='text-center'>
            <h1>Вступ</h1>
        </div>
        <h2>
            Фізика — наука про природу, яка досліджує загальні властивості матерії та явищ у ній, виявляє закони<br>
            які керують цими явищами. З часом відбулось взаємопроникнення фізики і природничих наук, постали<br>
            геофізика, біофізика, хімічна фізика, фізична хімія, біологічна фізика, <br>    
            медична фізика, технічна фізика. Фізика стала фундаментом природничих і технічних наук.<br>
        </h2>
        
    </div>
</div>



<div class="rounded-3 ">
    <div class='container' style='border-radius: 25px;  max-width: 1500px;background-color: var(--prg);' >
        <section id="section1">
            <h3 style="margin-top: 10px;">Фізика 7 клас</h3>
            <h4>РОЗДІЛ 1</h4>
            <p>Фізика як природнича наука</p>
            <div style="margin-left: 40px; margin-top: 10px; margin-bottom: 10px;">
                {% video "https://www.youtube.com/watch?v=CQDpiRRZJ-0" '500x300' %}
            </div>
            <h4>РОЗДІЛ 2</h4>
            <p> Механічний рух</p>
            <div style="margin-left: 40px; margin-top: 10px; margin-bottom: 10px;">
                {% video "https://www.youtube.com/watch?v=QsZIr1npVIc" '500x300' %} {% video "https://www.youtube.com/watch?v=Te69Z" '500x300' %}
            </div>
            <h4>РОЗДІЛ  3</h4>
            <p>Взаємодія тіл</p>
            <div style="margin-left: 40px; margin-top: 10px; margin-bottom: 10px;">
                {% video "https://www.youtube.com/watch?v=oVgrG_Zsn1U" '500x300' %}
            </div>
            <p>Сила</p>
            <div style="margin-left: 40px; margin-top: 10px; margin-bottom: 10px;">
                {% video "https://www.youtube.com/watch?v=oVgrG_Zsn1U&t=2s" '500x300' %}
            </div>
            <p>Види сил</p>
            <div style="margin-left: 40px; margin-top: 10px; margin-bottom: 10px;">
                {% video "https://www.youtube.com/watch?v=BVM06M5e7ew" '500x300' %} {% video "https://www.youtube.com/watch?v=GLFDbpwQ10o" '500x300' %}
            </div>
            <h4>РОЗДІЛ 4</h4>
            <p>Тиск</p>
            <div style="margin-left: 40px; margin-top: 10px; margin-bottom: 10px;">
                {% video "https://www.youtube.com/watch?v=XcaRXCTsxV8&t=11s" '500x300' %} {% video "https://www.youtube.com/watch?v=VNLnO2dW--A&t=2s" '500x300' %}
            </div>
            <h4>РОЗДІЛ 5</h4>
            <p>Закон Архімеда</p>
            <div style="margin-left: 40px; margin-top: 10px; margin-bottom: 10px;">
                {% video "https://www.youtube.com/watch?v=WKXrqN2JH1k&t=1s" '500x300' %}
            </div>
            <p>Плавання тіл</p>
            <div style="margin-left: 40px; margin-top: 10px; margin-bottom: 10px;">
                {% video "https://www.youtube.com/watch?v=b8TNn2jYIJw" '500x300' %}
            </div>
        </section>
        <hr>
        <section id="section2">
             <h3 style="margin-top: 10px;">Фізика 8 клас</h3>
            <h4>РОЗДІЛ 1</h4>
            <p>Температура</p>
            <div style="margin-left: 40px; margin-top: 10px; margin-bottom: 10px;">
                {% video "https://www.youtube.com/watch?v=c8kbpikvelU" '500x300' %}
            </div>
            <p>Внутрішня енергія</p>
            <div style="margin-left: 40px; margin-top: 10px; margin-bottom: 10px;">
                {% video "https://www.youtube.com/watch?v=eMftTy2LFCw" '500x300' %} {% video "https://www.youtube.com/watch?v=iWbSjxyYxOk" '500x300' %}
            </div>
            <p>Теплопередача</p>
            <div style="margin-left: 40px; margin-top: 10px; margin-bottom: 10px;"> 
                {% video "https://www.youtube.com/watch?v=lNkyHjuFVcI" '500x300' %} {% video "https://www.youtube.com/watch?v=eMftTy2LFCw" '500x300' %}
            </div>
            <h4>РОЗДІЛ 2</h4>
            <p>Зміна агрегатного стану речовини</p>
            <div style="margin-left: 40px; margin-top: 10px; margin-bottom: 10px;"> 
                {% video "https://www.youtube.com/watch?v=v8ZsFPTBmCU" '500x300' %}
            </div>
            <p>Теплові двигуни</p>
            <div style="margin-left: 40px; margin-top: 10px; margin-bottom: 10px;"> 
                {% video "https://www.youtube.com/watch?v=0rlkwAiROLg" '500x300' %}
            </div>
            <h4>РОЗДІЛ 3</h4>
            <p>Електричний заряд</p>
            <div style="margin-left: 40px; margin-top: 10px; margin-bottom: 10px;">
                {% video "https://www.youtube.com/watch?v=0_0RXUoC5DE" '500x300' %} {% video "https://www.youtube.com/watch?v=_QtXeWW0uNc" '500x300' %}
            </div>
            <p>Електричне поле</p>
            <div style="margin-left: 40px; margin-top: 10px; margin-bottom: 10px;"> 
                {% video "https://www.youtube.com/watch?v=oufaTCcpzD0" '500x300' %} {% video "https://www.youtube.com/watch?v=4ONUUUu4n-o" '500x300' %}
            </div>
            <p>Електричний струм</p>
            <div style="margin-left: 40px; margin-top: 10px; margin-bottom: 10px;">
                {% video "https://www.youtube.com/watch?v=vcbSDyMrUaQ" '500x300' %} {% video "https://www.youtube.com/watch?v=Rb2EcqmNcOs" '500x300' %}
            </div>
            <h4>РОЗДІЛ 4</h4>
            <p>Робота і потужність електричного струму</p>
            <div style="margin-left: 40px; margin-top: 10px; margin-bottom: 10px;">
                {% video "https://www.youtube.com/watch?v=ZdCZ9R8PlOI" '500x300' %} {% video "https://www.youtube.com/watch?v=a0WtBRiGdf0" '500x300' %}
                {% video "https://www.youtube.com/watch?v=r4Qgl060R7Y" '500x300' %} {% video "https://www.youtube.com/watch?v=ap1JO0kCPrk" '500x300' %}
            </div>
        </section>
        <hr>
        <section id="section3">
            <h3 style="margin-top: 10px;">Фізика 9 клас</h3>
            <h4>РОЗДІЛ 1</h4>
            <p>Магнітне поле </p>
            <div style="margin-left: 40px; margin-top: 10px; margin-bottom: 10px;">
                {% video "https://www.youtube.com/watch?v=-ngxcW7VMLY&list=PLYLAAGsAQhw_clhMs2ShkQayZK3xIGiSf" '500x300' %}  {% video "https://www.youtube.com/watch?v=UTRcaJ8XHdE" '500x300' %}
            </div>
            <h4>РОЗДІЛ 2</h4>
            <p>Світлові явища</p>
            <div style="margin-left: 40px; margin-top: 10px; margin-bottom: 10px;"> 
                {% video "https://www.youtube.com/watch?v=RyC8QIs-o_0&list=PL1Us50cZo25lAokU3ClYK8LA-Ss0Y7CK5" '500x300' %} {% video "https://www.youtube.com/watch?v=BC5jwVIWr_4&list=PL1Us50cZo25lAokU3ClYK8LA-Ss0Y7CK5&index=2" '500x300' %}
            </div>
            <h4>РОЗДІЛ 3</h4>
            <p>Механічні та електромагнітні хвилі</p>
            <div style="margin-left: 40px; margin-top: 10px; margin-bottom: 10px;">
                {% video "https://www.youtube.com/watch?v=tls12mjFgtA&list=PL1Us50cZo25m7fyjUmBh5doLT_XVexICR" '500x300' %} {% video "https://www.youtube.com/watch?v=bZl6G2eaGrI&list=PL1Us50cZo25k_Aam43faoptwZMCl4dov_" '500x300' %}
            </div>
            <h4>РОЗДІЛ 4</h4>
            <p>Фізика атома та атомного ядра</p>
            <div style="margin-left: 40px; margin-top: 10px; margin-bottom: 10px;">
                {% video "https://www.youtube.com/watch?v=1_ewt9HPvJU&list=PL1Us50cZo25lp_THVzLpY4-m5NrlODwhh" '500x300' %} {% video "https://www.youtube.com/watch?v=OlW22u3mPvM&list=PL1Us50cZo25l6llPYTkw1kEuCfAlcB_iU" '500x300' %}
            </div>
        </section>
        <hr>
        <section id="section4">
            <h3 style="margin-top: 10px;">Фізика 10-11 клас</h3>
            <h4>РОЗДІЛ 1</h4>
            <p>Механіка</p>
            <div style="margin-left: 40px; margin-top: 10px; margin-bottom: 10px;">
                {% video "https://www.youtube.com/watch?v=rcfr38l6Udc&list=PL1Us50cZo25k1MC_pT_jkhPMFiF7DbfS1" '500x300' %}
            </div>
            <p>Кінематика</p>
            <div style="margin-left: 40px; margin-top: 10px; margin-bottom: 10px;">
                {% video "https://www.youtube.com/watch?v=eZy2wp5XINY&list=PLyZyLAyXKxtb1smSU16-vQXdwpPGNZGyC" '500x300' %}
            </div>
            <h4>РОЗДІЛ 2</h4>
            <p>Динаміка і закони збереження</p>
            <div style="margin-left: 40px; margin-top: 10px; margin-bottom: 10px;"> 
                {% video "https://www.youtube.com/watch?v=2PO0DDfeT6s&list=PLNh7yDWmHUlvw_fCt52GDYMxci97Xl2zA" '500x300' %} 
            </div>
            <h4>РОЗДІЛ 3</h4>
            <p>Механічні коливання</p>
            <div style="margin-left: 40px; margin-top: 10px; margin-bottom: 10px;">
            {% video "https://www.youtube.com/watch?v=Kc2-znE9-wY&list=PL1Us50cZo25nsfA_QOEoxhPUhTzHb0tIf" '500x300' %}
            </div>
            <p>Хвилі</p>
            <div style="margin-left: 40px; margin-top: 10px; margin-bottom: 10px;">
            {% video "https://www.youtube.com/watch?v=bZl6G2eaGrI&list=PLYLAAGsAQhw8IDqme-3NQWQEBlTHxlEfm" '500x300' %}
            </div>
            <h4>РОЗДІЛ 4</h4>
            <p>Елементи спеціальної теорії відносності</p>
            <div style="margin-left: 40px; margin-top: 10px; margin-bottom: 10px;">
            {% video "https://www.youtube.com/watch?v=4RuwR0iIIao" '500x300' %} {% video "https://www.youtube.com/watch?v=HZZujYUZ2LY" '500x300' %}
            </div>
            <h4>РОЗДІЛ 5</h4>
            <p>Молекулярна фізика </p>
            <div style="margin-left: 40px; margin-top: 10px; margin-bottom: 10px;">
            {% video "https://www.youtube.com/watch?v=pn_RnNGKsKU&list=PL1Us50cZo25l54U0hyyd0GQQ3IPhGQ2uF" '500x300' %} {% video "https://www.youtube.com/watch?v=7tEvuwQElBQ&list=PLNh7yDWmHUlu5TB8N8lu0TQQUg6TfXP6Y" '500x300' %}
            </div>
            <h4>РОЗДІЛ 6</h4>
            <p>Основи термодинаміки </p>
            <div style="margin-left: 40px; margin-top: 10px; margin-bottom: 10px;">
            {% video "https://www.youtube.com/watch?v=-9mmb6gjVwE&list=PL1Us50cZo25n1WvRRUfaiVIPDzPp_-cdb" '500x300' %} 
            </div>
        </section>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
    $(document).ready(function(){
        $('a[href^="#"]').on('click', function(event) {
            var target = $(this.getAttribute('href'));
            if( target.length ) {
                event.preventDefault();
                $('html, body').stop().animate({
                    scrollTop: target.offset().top
                }, 1000);
            }
        });

        function toggleTheme(theme) {
            $('html').attr('data-bs-theme', theme);
            localStorage.setItem('theme', theme);
        }

        var savedTheme = localStorage.getItem('theme');
        if (savedTheme) {
            toggleTheme(savedTheme);
            $('#themeSwitch').prop('checked', savedTheme === 'dark');
        }

        $('#themeSwitch').change(function(){
            toggleTheme(this.checked ? 'dark' : 'light');
        });
    });
</script>

</body> 
</html> 

<div class= 'rounded-3'>
    <footer> 
        <div class="row">
            <div class="col-md-6">
                <h3>Про нас</h3>
                <p>Учень 8 класу який любить фізику та математику</p>
            </div>
            <div class="col-md-6">
                <h3>Контакти</h3>
            
                <p>syvashroman0109@gmail.com</p>
                <p>+38(099)3960015</p>
            </div>
        </div>
    </footer>
</div>

