{% extends 'base.html' %}

{% block title %}Каталог{% endblock %}

{% block content %}
{% load embed_video_tags %}
<nav id="navbar" > 
    <ul style="list-style-type: none;"> 
        <li><a href="{% url 'main:index' %}"><i class="fa-solid fa-house"></i></a></li>
        <li class='text-center'>
            <a href="#section1">Математика (7 клас)</a>
            <a href="#section2">Математика (8 клас)</a>
            <a href="#section3">Математика (9 клас)</a>
            <a href="#section4">Математика (10-11 класи)</a>
        </li>
    </ul>
    <div class="form-check form-switch mt-3">
        <input class="form-check-input" type="checkbox" id="themeSwitch">
    </div>
</nav>

</div>
<div class="rounded-3 ">
    <div class='container' style='border-radius: 15px;  max-width: 1500px; background-color: rgba(60, 129, 79, 0.5); margin-top: 60px;' >
        <div class='text-center'>
            <h1>Вступ</h1>
        </div>
        <h2>
            Слово математика ( μάθημα)  з давньогрецької означає “точне знання ”. <br>
            Матема́тика  виникла  з практичних потреб людей рахувати, обчислювати, вимірювати, досліджувати форми та рух фізичних тіл. <br>
            Загальноприйнятого визначення математики немає. <br>
            <hr>
            <p>• Математика — це мова, якою написано книгу природи (Галілео Галілей)</p>
            <p>• Математика — цариця наук, арифметика — цариця математики (Карл Фрідріх Гаусс)</p>
            <p>• Математика — це мистецтво називати різні речі тим самим ім'ям (Анрі Пуанкаре)</p>
            <p>• Математика — наука про кількісні співвідношення і просторові форми дійсного світу (Фрідріх Енгельс)</p>
            <p>• Математика — це єдиний досконалий метод водити самого себе за ніс (Альберт Ейнштейн)</p>
            <p>• Математика – це та частина фізики, в якій експерименти дешеві. (Володимир Арнольд)</p>
            <hr>
            Зараз математика багатогранна наука про абстрактні кількісні та якісні співвідношення, форми й структури.
        </h2>
        
    </div>
</div>

<div class="rounded-3 ">
    <div class='container' style='border-radius: 25px;  max-width: 1500px; background-color: rgba(60, 129, 79, 0.5)' >
        <section id="section1">
            <h3 style="margin-top: 10px;">Математика 7 клас</h3>
            <h4>РОЗДІЛ 1</h4>
            <p1>Степінь з натуральним показником</p1>
            <div style="margin-left: 40px; margin-top: 10px; margin-bottom: 10px;">
                {% video "https://www.youtube.com/watch?v=t8P27nSQuyk" '500x300' %}
            </div>
            <h4>РОЗДІЛ 2</h4>
            <p1> Раціональні вирази та їх перетворення </p1>
            <div style="margin-left: 40px; margin-top: 10px; margin-bottom: 10px;">
                {% video "https://www.youtube.com/watch?v=EWXMr2IZUuI" '500x300' %}
            </div>
            <h4>РОЗДІЛ  3</h4>
            <p1>Лінійні рівняння. Лінійні нерівності</p1><br>
            <div style="margin-left: 40px; margin-top: 10px; margin-bottom: 10px;">
                {% video "https://www.youtube.com/watch?v=ndyzL1rQ9hw" '500x300' %}
            </div>
            <p1> Лінійна функція. Графіки  </p1>
            <div style="margin-left: 40px; margin-top: 10px; margin-bottom: 10px;">
                {% video "https://www.youtube.com/watch?v=hmUJdHOJuIQ" '500x300' %}
            </div>
            <h4>РОЗДІЛ 4</h4>
            <p1>Системи лінійних рівнянь із двома змінними</p1>
            <div style="margin-left: 40px; margin-top: 10px; margin-bottom: 10px;">
                {% video "https://www.youtube.com/watch?v=FCN3ThzoYr0" '500x300' %}
            </div>
        </section>
        <hr>
        <section id="section2">
             <h3 style="margin-top: 10px;">Математика 8 клас</h3>
            <h4>РОЗДІЛ 1</h4>
            <p1>Раціональні вирази  та їх перетворення</p1>
            <div style="margin-left: 40px; margin-top: 10px; margin-bottom: 10px;">
                {% video "https://www.youtube.com/watch?v=mgNeFmRRIYs" '500x300' %}
            </div>
            <h4>РОЗДІЛ 2</h4>
            <p1>Дійсні числа. Квадратні корені</p1>
            <div style="margin-left: 40px; margin-top: 10px; margin-bottom: 10px;"> 
                {% video "https://www.youtube.com/watch?v=0rlkwAiROLg" '500x300' %}
            </div>
            <h4>РОЗДІЛ 3</h4>
            <p1>Квадратні рівняння</p1>
            <div style="margin-left: 40px; margin-top: 10px; margin-bottom: 10px;">
                {% video "https://www.youtube.com/watch?v=bUA4_ynbFpU" '500x300' %}
            </div>
        </section>

        <section id="section3">
            <h1>Розділ 3</h1>
            <p></p>
        </section>

        <section id="section4">
            <h1>Розділ 4</h1>
            <p></p>
        </section>
    </div>
</div>

{% endblock %}